name: Publish Docker Image

on:
    push:
        branches:
          - main

jobs:
    push_to_registry:
        name: Push Docker Image to Docker Hub
        runs-on: ubuntu-latest           # specify the build machine
        steps:
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2
            
            - name: Set up Docker Buildx  # create a build kit builder instance
              uses: docker/setup-buildx-action@v2

            - name: Check out the repo   # checkout to the repository on the build machine
              uses: actions/checkout@v2

            - name: Login to Docker Hub  # login to Docker Hub using the secrets provided
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build the Stack       # build the docker image
              run: docker-compose -f docker-compose.yml build --tag uzairnaeem/django_demo_app:latest web

            - name: Get docker logs
              run: docker-compose logs

            - name: Push to dockerhub 
              run: |
                docker-compose push uzairnaeem/django_demo_app:latest